.spacer25 
.container
  %h2 Job Position
  .row
    .list-group.col-md-8
      - @positions.each do |position|
        #accordion.panel-group 
          .panel.panel-default.position-panel
            .panel-heading
              .panel-title.with-border
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "##{dom_id(position)}"}= "#{position.name}"
            .panel-collapse.collapse.out{id:dom_id(position)}
              .info-panel.clear-fix
                %h4
                  .row
                    .col-xs-11
                      = position.description
                .row
                  .col-xs-11.col-xs-offset-1
                .btn-group
                  %button.btn.btn-default.btn-xs= link_to "view questions", position_path(position)
                  %button.btn.btn-default.btn-xs.assign= link_to "Assign a candidate", position_candidates_path(position), remote: true, "data-toggle" => "modal", "data-target" => "#assign_modal"
                  %button.btn.btn-default.btn-xs= link_to "<i class='glyphicon glyphicon-cog'></i> Edit".html_safe, edit_position_path(position)
                .spacer25

  .col-xs-12
    .row
      = link_to "Add a job position", new_position_path, class: "btn btn-primary"

.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "assign_modal" }              

 