.spacer25 
.container
  %h2 Job Position
  .row
    .list-group.col-md-6
      - @positions.each do |position|
        #accordion.panel-group 
          .panel.panel-default
            .panel-heading
              .panel-title.with-border
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "##{dom_id(position)}"}= "#{position.name}"
            .panel-collapse.collapse.out{id:dom_id(position)}
              .info-panel.clear-fix
                %h4
                  .row
                    .col-xs-10
                      = position.description
                      %p= link_to "view questions", position_path(position)
                    .col-xs-2.edit-icon
                      .pull-right= link_to "", edit_position_path(position), class: "glyphicon glyphicon-cog"
  .col-xs-12
    .row
      = link_to "Add a job position", new_position_path, class: "btn btn-primary"
 