.container
  .col-sm-12.col-md-8
    %h2
      .row
        .col-xs-7
          = "#{@position.name} template"
        .col-xs-5
          .btn-group.btn-group-xs.pull-right
            %button.btn.btn-default{type:"button"}= link_to "Add a question", new_position_question_path(@position), remote: true, "data-toggle" => "modal", "data-target" => "#new-question"
            %button.btn.btn-default{type:"button"}= link_to "Edit", edit_position_path(@position)
    %p
      = @position.description
    .paper
      %h3 Questions to ask:
      %ul.question-list
        - @position.questions.order("id DESC").each do |question|
          .well
            %li
              = question.title
              .row
                .btn-group
                  %button.btn.btn-default.btn-xs.edit-question{type:"button"}= link_to "Edit", edit_position_question_path(@position, question), remote: true, "data-toggle" => "modal", "data-target" => "##{dom_id(question)}"
                  %button.btn.btn-default.btn-xs.delete-question{type:"button"}= link_to "Delete", position_question_path(@position, question), method: :delete, data: { confirm: "Are you sure you want to delete this template?"}
            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id:dom_id(question)}
            .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "new-question" }              
    %br
    .btn-group
      %button.btn.btn-default{type:"button"}= link_to "Back to all", positions_path

    .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "assign_modal" }              
