.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "candidate-edit-modal"}
.modal.fade{"aria-hidden" => "true", role: "dialog", tabindex: "-1", id: "candidate-create-modal"}
.container
  .spacer25 
  %h2 Candidates
  .row
    .list-group.col-md-8.candidate-panel
      - @candidates.each do |candidate|
        #accordion.panel-group 
          .panel.panel-default
            .panel-heading
              .panel-title.with-border
                %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "##{dom_id(candidate)}"}
                  = "#{candidate.formatted_name}"
            .panel-collapse.collapse.out{id:dom_id(candidate)}
              .panel-body
                .row
                  .col-xs-12.col-md-4
                    = image_tag candidate.avatar.url(:thumb), class: "image-wrapper"
                  .col-xs-12.col-md-8
                    .info-panel
                      = "<h4><i class='glyphicon glyphicon-envelope'></i> #{candidate.email}</h4>".html_safe 
                    .info-panel
                      = "<h4><i class='glyphicon glyphicon-phone'></i> #{candidate.phone}</h4>".html_safe 
                    .info-panel
                      = "<h4><i class='glyphicon glyphicon-map-marker'></i> #{candidate.address}</h4>".html_safe 
                    .info-panel
                      - if candidate.notes.nil?
                        = link_to "<i class='glyphicon glyphicon-comment'></i> Add a comment".html_safe, edit_candidate_path(candidate) , "data-toggle" => "modal", "data-target" => "#candidate-edit-modal", remote: true
                      - else
                        = "<h4><i class='glyphicon glyphicon-comment'></i> #{candidate.notes}</h4>".html_safe 
                    
                    %p= "Applying for:" unless candidate.positions.empty?
                    - candidate.positions.each do |position|
                      .info-panel
                        = link_to "<h4><i class='glyphicon glyphicon-bookmark'></i> #{position.name}</h4>".html_safe, position_path(position) unless position.nil?
                    .pull-right
                      = link_to "<i class='glyphicon glyphicon-cog'></i>".html_safe, edit_candidate_path(candidate) , "data-toggle" => "modal", "data-target" => "#candidate-edit-modal", class: "btn btn-primary", remote: true
        
  .col-xs-12
    .row
      = link_to "Add a candidate", new_candidate_path, "data-toggle" => "modal", "data-target" => "#candidate-create-modal", class: "btn btn-primary", remote: true, class: "btn btn-primary" 
 